/// Primary

$blue: hsl(246, 80%, 60%);

$lightOrange: hsl(15, 100%, 70%); //(work)
$softBlue: hsl(195, 74%, 62%); // (play)
$lightRed: hsl(348, 100%, 68%); // (study)
$limeGreen: hsl(145, 58%, 55%); //  (exercise)
$violet: hsl(264, 64%, 52%); // (social)
$softOrange: hsl(43, 84%, 65%); // (self care)

/// Neutral

$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$hoverBlue: hsl(236, 41%, 34%);
$paleBlue: hsl(236, 100%, 87%);

// Typography

$textColor: #F9F2FF;
/// Body Copy

// - Font size: 18px (card titles e.g. Work, Play)